@import '../../styles/themes/default';

.container {
  background: @white-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 8px;
}

.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}

.center {
  display: flex;
  flex-grow: 1;
  width: 700px;
  max-width: 1000px;
  margin: 0 16px;
  min-height: 600px;
  .base-card;
  .up-container {
    background: @base-white;

    .wrapper {
      padding: @padding-lg 48px;
      height: 100%;
    }

    .title {
      font-size: @font-size-lg;
      //font-weight: bold;
      padding-left: @padding-sm;
      border: none;
      padding-bottom: @padding-xs;
      border-bottom: @border-width-base @border-style-base @transBlack-6;
      color: @text-color;
      &:hover {
        border: none;
        border-bottom: @border-width-base @border-style-base @transBlack-5;
        box-shadow: none;
      }
      &:active,
      &:focus {
        border: none;
        border-bottom: @border-width-base @border-style-base @transBlack-4;
        box-shadow: none;
      }
    }
  }

  .touch {
    width: 100%;
    //background: @gold-3;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splitter-container {
    width: 24px;
    height: 8px;
    position: absolute;
  }

  .splitter-point {
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    background: @transBlack-6;
    border-radius: 50%;
  }

  .splitter {
    .splitter-point;
    position: relative;
    bottom: -3px;

    &::before {
      .splitter-point;
      position: absolute;
      left: -6px;
    }
    &::after {
      .splitter-point;
      position: absolute;
      right: -6px;
    }
  }

  .splitter-line {
    border: none;
    background: @transBlack-6;
    height: 1px;
  }

  :global {
    .reflex-layout.horizontal > .reflex-splitter {
      .splitter-line;
      display: flex;
      justify-content: center;
      position: relative;
      &:hover {
        .splitter-line;
        height: 2px;
      }
    }
  }

  .down-container {
    background: @white-1;
    user-select: none;
  }
}
