@import '../../styles/themes/default';

.container {

  width: 100%;
  background: @white-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 8px;
  height: 100%;
}

.base-card {
  height: 100%;
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}

.left {
  align-self: left;
  width: 200px;
  .base-card;
  .upload {
    height: 176px;
    margin: 12px 12px 0 12px;
    :global {
      .ant-upload.ant-upload-drag {
        border-radius: 4px;
        background: @base-white;
        padding: 0;
      }
    }
  }

  .preview {
    margin: 12px 0;
    background: @white-1;
    padding: 0 16px;

    .pre-container {
      display: flex;
      height: 100%;
      margin-bottom: 8px;

      .circle {
        &::before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
          width: 6px;
          height: 6px;
          background: @dark-6;
          border-radius: 50%;
        }
      }
    }
    :global {
      .ant-list {
        color: @dark-7;
      }
    }
  }

  .advanced {
    height: 200px;

    .radio-group {
      margin-left: 16px;
      .radio-style {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: @font-size-base;
      }
    }
    :global {
      .ant-collapse-item {
        border-bottom: 0;
        .ant-collapse-header {
          line-height: 20px;
          font-size: @font-size-base;
          color: @dark-5;
        }
      }
      .ant-radio-inner {
        width: 12px;
        height: 12px;
        &::after {
          width: 6px;
          height: 6px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.right {
  align-self: right;
  width: 200px;
  .base-card;
  margin-right: 8px;
  .labels {
    display: flex;
    align-items: center;
    height: 40px;
    &:hover {
      background: @white-1;
      color: @heading-color;
    }
  }
  :global {
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: @white-1;
      color: @heading-color;
    }
    .ant-menu-item-selected::after {
      border-right: 0;
    }
    .ant-menu-item::after {
      border-right: 0;
    }
    .ant-menu-inline .ant-menu-item,
    .ant-menu-inline .ant-menu-submenu-title {
      width: calc(100%);
    }
  }
}

.center {
  display: flex;
  align-self: center;
  width: 736px;
  margin: 2rem;
  .base-card;
}

.up-container {
  background: @base-white;

  .warpper {
    padding: @padding-lg 48px;
    height: 100%;
  }

  .title {
    font-size: @font-size-lg;
    font-weight: bold;
    padding-left: @padding-sm;
    border-bottom: @border-width-base @border-style-base @background-color-base;
    color: @text-color;
  }
}

.down-container {
  background: @white-1;
  user-select: none;
}

.touch {
  width: 100%;
  //background: @gold-3;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splitter-container {
  width: 24px;
  height: 8px;
  position: absolute;
}

.splitter-point {
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  background: @transBlack-6;
  border-radius: 50%;
}

.splitter {
  .splitter-point;
  position: relative;
  bottom: -3px;

  &::before {
    .splitter-point;
    position: absolute;
    left: -6px;
  }
  &::after {
    .splitter-point;
    position: absolute;
    right: -6px;
  }
}

.splitter-line {
  border: none;
  background: @transBlack-6;
  height: 1px;
}

:global {
  .reflex-layout.horizontal > .reflex-splitter {
    .splitter-line;
    display: flex;
    justify-content: center;
    position: relative;
    &:hover {
      .splitter-line;
      height: 2px;
    }
  }
}
