@import '../../styles/themes/default';

.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}
.container {
  display: flex;
  justify-content: center;
  flex: auto;
  min-height: 100%;
  :global {
    .ant-input {
      border: none;
      box-shadow: none;
    }
  }
}
.center {
  .base-card;
  min-height: 90%;
  width: 60%;
  max-width: 800px;
  margin: 12px 8px;
}

.content {
  padding: 60px;

  .tips {
    border-left: 2px solid @white-5;
    padding-left: 20px;
    font-size: @font-size-sm;
    color: @text-color-secondary;
  }
}

.combine-modal {
  text-align: center;
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  :global {
    .ant-modal {
      display: inline-block;
      vertical-align: middle;
      top: 0;
      text-align: left;
    }
    .ant-modal-header {
      text-align: center;
      border-bottom: none;
    }
    .ant-modal-body {
      padding: 0 52px;
    }
    .ant-modal-footer {
      border-top: none;
    }
  }
  .tag-new-name {
    font-size: @font-size-base;
    border: 1px solid @white-3;
    border-radius: 20px;
    width: 120px;
  }
  .warning {
    margin-top: 22px;
    margin-bottom: 16px;
    text-align: center;
    color: @text-color-secondary;
  }
}
