@import '../../styles/themes/default';

.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}
.container {
  display: flex;
  justify-content: center;
  flex: auto;
  min-height: 100%;
}
.center {
  .base-card;
  min-height: 90%;
  width: 60%;
  margin: 12px 8px;
}
