@import '../../styles/themes/default';

.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}
.container {
  display: flex;
  justify-content: center;
  flex: auto;
  min-height: 100%;
}
.center {
  .base-card;
  min-height: 90%;
  width: 60%;
  max-width: 800px;
  margin: 12px 8px;
}

.tag-container {
  display: flex;
  margin-top: 24px;
  :global {
    .ant-tag {
      margin-right: 16px;
      padding: 5px 18px;
      border-radius: 20px;
      height: 32px;
      font-size: @font-size-base;
      border: 1px solid @white-4;
    }
    .ant-tag-checkable-checked {
      border-color: transparent;
    }
  }
}

.content {
  padding: 60px;

  .tips {
    border-left: 2px solid @white-5;
    padding-left: 20px;
    font-size: @font-size-sm;
    color: @text-color-secondary;
  }

  .ungroup {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  .group {
    :global {
      .ant-collapse-item {
        border-bottom: none;
      }
    }
  }

  .context-menu {
    background: @base-white;
    box-shadow: @shadow-1;
    :global {
      .react-contextmenu-item {
        padding: 8px 16px;
        cursor: pointer;
        display: flex;
        transition: all @animation-duration-base;
        &:hover {
          background: @white-1;
          color: @heading-color;
          &::before {
            background: @dark-5;
          }
        }

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          background: @white-5;
          border-radius: 50%;
          margin-right: 11px;
          margin-top: 9px;
        }
      }
    }
  }
}

.combine-modal {
  text-align: center;
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  :global {
    .ant-modal {
      display: inline-block;
      vertical-align: middle;
      top: 0;
      text-align: left;
    }
    .ant-modal-header {
      text-align: center;
      border-bottom: none;
    }
    .ant-modal-body {
      padding: 0 52px;
    }
    .ant-modal-footer {
      border-top: none;
    }
  }
  .tag-new-name {
    font-size: @font-size-base;
    border: 1px solid @white-3;
    border-radius: 20px;
    width: 120px;
  }
  .warning {
    margin-top: 22px;
    margin-bottom: 16px;
    text-align: center;
    color: @text-color-secondary;
  }
}
