{
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "dva-hmr",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./components",
          "styles": "./styles",
          "utils": "./utils"
        }
      }
    ]
  ]
}
