@import '../../styles/themes/default';

.container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  height: 100%;
}

.projectBox {

}
.list{

}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.projectList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  width: 100%;
}
.simpleFlexRow {
  widows: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.deleteButton {
  position: absolute;
  right: 0;
  top: 0;
}

