@import '../../styles/themes/default';

.container {
  background: @white-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  height: 100%;
}
.projectBox {
  align-items: center;
}
.list {
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: @dark-7;
}
.projectList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  width: 100%;

  .project-card {
    width: 200px;
    height: 96px;
    margin-right: 24px;
    border-radius: 4px;
    border: none;
    transition: all @animation-duration-base;
    box-shadow: @shadow-1;
    &:hover {
      //background-color: @transBlack-9;
      margin-top: -1px;
      box-shadow: @shadow-2;

      .delete-button {
        opacity: 1;
      }
      .star-button {
        opacity: 1;
      }
    }

    .delete-button {
      transition: all @animation-duration-base;
      opacity: 0;
      position: absolute;
      right: 0px;
      top: 1px;
      background-color: white;
      color: @dark-7;
      border: 0;
      &:hover {
        color: @dark-5;
      }
    }
    .star-button {
      transition: all @animation-duration-base;
      opacity: 0;
      position: absolute;
      right: 0;
      bottom: 1px;
      background-color: white;
      color: @warning-color;
      border: 0;
      &:hover {
        color: #f8e71c;
      }
    }
    .create-project {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .icon-plus {
      margin-bottom: 10px;
    }
  }
}
.simpleFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-card-add {
  :global {
    .ant-card-meta-title {
      color: @text-color-secondary;
      transition: all @animation-duration-base;
    }
  }
  &:hover {
    :global {
      .ant-card-meta-title {
        color: @text-color;
      }
      .icon-plus {
        color: @text-color;
      }
    }
  }
}
