@import '../../styles/themes/default';
@import '../../styles/mixins/index';
.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}

.left {
  display: flex;
  flex-grow: 1;
  width: 736px;
  margin: 12px 16px;
  min-height: 600px;
  .base-card;
}

.right {
  width: 200px;
  .base-card;
}
