@import '../../styles/themes/default';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  background: @white-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(~'100% - 44px');
}

.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}
