@import '../../styles/themes/default';
.display {
  position: fixed;
  min-height: 5vh;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 7vh;
  width: 100vw;
  border-bottom: @border-width-base @border-style-base @border-color-split;
  padding-left: 25px;
  padding-right: 25px;
}
.left {
  display: flex;
  flex-direction: row;
  height: 24px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 72px;
  overflow: hidden;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
.logoTitle {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .modal-content {
    width: 450px;
    .modal-input {
      margin: 10px;
      height: 45px;
      width: 100%;
    }
  }

}

.searchbar {
  width: 240px;
  margin-right: 24px;
  background-color: @transBlack-9;
  &:focus {
    border: none;
    background-color: @transBlack-9;
  }
}

.icon {
  transition: all @animation-duration-base;
  font-size: 20px;
  color: @dark-7;
  margin-right: 16px;
  font-weight: 300;
  &:hover {
    color: @blue-5;
  }
}

.icon-add {
  .icon;
  color: @primary-4;
  &:hover {
    color: @blue-6;
  }
}

.add-project {
  width: 184px;
  left: 80px;
  text-align: center;
  .add-project-title {
    margin: 6px;
  }
  .add-project-text {
    &:hover {
      background-color: @background-color-light;
    }
  }
}
.user-setting {
  width: 184px;
  left: 56px;
  .user-setting-text {
    &:hover {
      background-color: @background-color-base;
    }
  }
}
.modal-add {
  font-weight: 400;
  color: @text-color;
}

