@import '~styles/themes/default';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: none;
  :global {
    .ant-input {
      border: none;
      box-shadow: none;
      padding: 0;
    }
  }
}
.photo-combine {
  display: flex;
  flex-direction: column;
  width: 35%;
  position: relative;
  &:hover .toolbar-container {
    opacity: 1;
  }
}
.photo-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  .photo {
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .name {
    top: -160px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    background-color: transparent;
    font-size: 56px;
    padding: 0;
    height: 72px;
  }
  .keywords {
    text-align: center;
    top: -128px;
    position: relative;
    display: flex;
    align-items: center;
    height: 72px;
    font-size: 16px;
    :global {
      .ant-input {
        min-width: 120px;
      }
    }
    .mantra {
      background-color: transparent;
      color: white;
    }
  }
}
.toolbar-container {
  display: flex;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: @padding-sm @padding-sm;
  justify-content: center;
  transition: opacity @animation-duration-base;
}
.toolbar {
  display: flex;
  opacity: 0.95;
  padding: @padding-xs @padding-xs;
  border-radius: 4px;
  box-shadow: @shadow-1;
  background: @base-white;
  user-select: none;
  .tool {
    cursor: pointer;
    padding: 0 4px;
    height: 100%;
    transition: all @animation-duration-base;
    &:hover {
      color: @base-black;
      background: @white-1;
    }
    &:active {
      background: @base-white;
      transform: scale(0.95);
    }
  }
}

.content {
  display: flex;
  padding: @padding-sm @padding-lg;
  width: 65%;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  .career {
    font-size: 16px;
    padding: 0;
    height: 24px;
    color: @text-color-secondary;
    padding-bottom: 5px;
  }
  .percent {
    display: flex;
    width: 320px;
    .text {
      display: flex;
      align-items: baseline;
    }
    .number {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: @primary-6;
      input {
        color: @primary-6;
      }
    }
  }
}

.itemtext {
  font-size: 14px;
  height: 24px;
  padding-bottom: 5px;
}

.bios {
  font-size: 14px;
  //background: @white-2;

  textarea {
    padding: @padding-sm !important;
    background: @white-2;
    resize: none;
  }
  min-height: 60px;
}
.body {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 800px;

  .dimension-container {
    margin-right: 10px;
    flex-direction: column;
    width: 200px;
    margin-right: 50px;
    .behaviors {
      width: 300px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }
  }
  .info {
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: @padding-xs;
    color: @blue-6;
    font-weight: 500;
  }
  .basic {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 12px;
  }

  .right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;

    .features {
      display: flex;
      .feature {
        font-size: 14px;
        align-items: center;
        margin-right: 24px;
        margin-bottom: 24px;
        .list {
          margin-bottom: 0;
          padding-left: 16px;
          li {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.photo-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    top: 0;
  }
}
