@import '../../styles/themes/default';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  height: 20px;
  width: 100%;
  &:hover {
    //background: @red-1;
  }
  //textarea {
  //  resize: none;
  //}
}
.circle {
  border: 3px solid @transBlack-2;
  border-radius: 50%;
}

:global {
  .ant-input-affix-wrapper .ant-input-prefix {
    left: @padding-xs;
  }
  .ant-input {
    border: none;
    border-radius: 0;
    &:focus {
      border: none;
      box-shadow: none;
    }
    width: 100%;
  }
  .ant-list {
    margin-top: 12px;
    .ant-list-item {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .ant-list-split .ant-list-item {
    border-bottom: none;
  }

  .ant-list-item-meta-title {
    display: flex;

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      background: @dark-5;
      border-radius: 50%;
      align-self: center;
    }
  }
}
