@import '../../styles/themes/default';

.container {
  background: @white-2;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
}
.left {
  box-shadow: @shadow-1;
  flex: none;
  min-width: 600px;
  margin: 24px;
  :global {
    .ant-table-tbody > tr > td {
      border-bottom: 0;
    }
  }
}

.right {
  width: 100%;
  display: flex;
  justify-content: center;
}
