@import '../../styles/themes/default';

.container {
  background: @white-2;
  min-height: 100%;
  display: flex;
  height: calc(~'100vh - 44px');
  flex-direction: row;
  justify-content: space-between;
  flex: none;
}

.left {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  margin: 24px;
}
