@import '../../styles/themes/default';
:global {
  .ant-tabs-nav-scroll {
    text-align: center;
  }
  .ant-table-thead {
    background: @transBlack-9;
  }
}
.canvas {
  width: 100%;
  display: flex;
  justify-content: center;
}
.base-card {
  background: @base-white;
  box-shadow: @shadow-1;
  border-radius: 4px;
}
.container {
  padding: 24px;
  min-width: 700px;
  max-width: 1000px;
  margin: 24px;
  .base-card;
  display: flex;
  flex-direction: column;
  :global {
    .ant-table-body {
      min-height: 600px;
    }
    .ant-table-thead > tr > th {
      padding: 0 8px;
    }
    .ant-table-tbody > tr > td {
      border-bottom: 0;
      padding: 0 8px;
    }
  }
}

.button-group {
  margin-bottom: 12px;
}
