@import '../../styles/themes/default';

:global {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

.container {
  //background: @red-1;
  padding: @padding-lg @padding-md @padding-md @padding-md;
}

.plus {
  background: @base-white;
  border-color: @transBlack-6;
  padding-left: 5px;
  margin-right: 0;
  width: 24px;
  color: @transBlack-4;
}

.input-border {
  border: solid 1px @white-5;
  border-radius: 4px;
}
.input-border-hover {
  border: solid 1px @white-7;
  border-radius: 4px;
}
.input {
  width: 80px;
  .input-border;

  &:focus {
    .input-border;
  }
  &:hover {
    .input-border-hover;
  }
}
.value-input {
  width: 80px;
  height: 24px;
  margin-right: 16px;
  padding-left: 10px;
  font-size: @font-size-sm;
  .input-border;
  &:focus {
    .input-border;
  }
  &:hover {
    .input-border-hover;
  }
}

.icon-delete {
  color: @white-5;
  opacity: 0;
  cursor: pointer;
  transition: @animation-duration-base;
  &:active {
    color: @dark-2;
    transform: scale(0.9);
  }
  &:hover {
    color: @white-7;
    transform: scale(1.1);
  }
}
.value-container {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 8px;

  .value-delete {
    .icon-delete;
    font-size: @font-size-sm;
    margin-left: 2px;
    display: flex;
    align-self: center;
  }
  &:hover .value-delete {
    opacity: 1;
  }

  :global {
    .ant-tag {
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      padding: 0 12px;
      &-checkable {
        background: @base-white;
        border: 1px solid @transBlack-6;
      }
      &-checkable-checked {
        background-color: @primary-color;
        border: 1px solid @primary-color;
      }
    }
  }
}

.dimension-container {
  &:not(:last-child) {
    margin-bottom: @padding-md;
  }
}

.key-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 136px;
  text-align: right;
  .delete {
    .icon-delete;
  }
  &:hover .delete {
    opacity: 1;
  }
}

.tag-container {
  //background: @red-1;
  display: inline-flex;
  margin-left: @padding-md;
}

.exist-key {
  .key-container;
  max-width: 112px;
  height: 28px;
  background: none;
  margin-left: 4px;
  &:hover {
    background-color: @base-white;

    .input-border-hover;
  }
  &:focus {
    background-color: @base-white;
    .input-border;
  }
}

.add-key {
  .key-container;
  color: @text-color-secondary;
  padding-right: 11px;
  background: none;

  &:hover {
    background-color: @base-white;
    .input-border-hover;
  }
  &:focus {
    background-color: @base-white;
    .input-border;
    color: @text-color;
  }
}
