@import '../../styles/themes/default';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: none;
  :global {
    .ant-input {
      border: none;
      box-shadow: none;
      padding: 0;
    }
  }
}
.photo-container {
  width: 35%;
  overflow: hidden;
  .photo {
    width: 100%;
    height: auto;
  }
}
.content {
  display: flex;
  padding: @padding-sm @padding-lg;
  width: 65%;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  .name {
    font-size: 32px;
    padding: 0;
    margin-right: 12px;
    height: 40px;
    padding-bottom: 5px;
  }
  .career {
    font-size: 16px;
    padding: 0;
    height: 24px;
    color: @text-color-secondary;
    padding-bottom: 5px;
  }
  .percent {
    display: flex;
    width: 320px;
    .text {
      display: flex;
      align-items: baseline;
    }
    .number {
      font-size: 24px;
      color: @primary-6;
    }
  }
}

.keywords {
  display: flex;
  align-items: center;
  padding: 0 @padding-sm @padding-sm;
  font-size: 16px;
  :global {
    .ant-input {
      min-width: 120px;
    }
  }
}

.body {
  display: flex;
  height: 100%;
  .info {
    font-size: 16px;
    margin-bottom: @padding-xs;
    border-bottom: 1px dashed @transBlack-4;
    padding-bottom: @padding-xs;
  }
  .basic {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 12px;
    .bios {
      font-size: 14px;
      background: @transBlack-8;
      padding: @padding-sm;
      border: none;
      resize: none;
      box-shadow: none;
    }
  }

  .right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;

    .features {
      display: flex;
      .feature {
        font-size: 14px;
        align-items: center;
        margin-right: 24px;
        margin-bottom: 24px;
        .list {
          margin-bottom: 0;
          padding-left: 16px;
          li {
            margin-bottom: 8px;
          }
        }
      }
    }
    .behaviors {
      display: flex;
      flex-direction: column;
    }
  }
}

.photo-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    top: 0;
  }
}
