@import '../../styles/themes/default';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  &:hover {
    background: @red-1;
  }
}

.input {
  border: none;
  border-radius: 0;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.circle {
  border: 3px solid @transBlack-2;
  border-radius: 50%;
  //background: @base-black;
}
